.button {
    padding: .625rem;
    border-radius: .25rem;
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
    font-weight: 500;
}

.filled {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.filled:hover {
    background-color: #1f73cc;
}

.outline {
    background-color: transparent;
    color: #585757;
    border: 1px solid #aaa;
}

.outline:hover {
    background-color: #f4f4f4;  
    border-color: #000; 
}

.primary {
    background-color: transparent;
    color: #007bff;
    border: 1px solid #007bff;
}

.primary:hover {
    background-color: #007bff;
    color: white;
}

.icon {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: .3rem;
}
  
.icon svg {
    width: 1rem;
    height: 1rem;
}