.container {
    max-width: 1100px;
    background-color: white;
    margin: 0 auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 1rem;
    padding: 2rem;
}